/* Centering the product details */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Container for product image and information */
.product-container {
  width: 80%;
  max-width: 600px; /* Limiting width for better readability */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Product image */
.product-image {
  width: auto;
  max-width: 300px; /* Limiting image width */
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Product information */
.product-info {
  padding: 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-left: 20px;
}

.product-info h2 {
  font-size: 20px;
  margin: 10px 0;
}

.product-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.product-info label {
  font-size: 16px;
  color: #666;
}

.product-info .product-price {
  color: #333;
  font-weight: bold;
}

.product-info input[type="number"] {
  width: 50px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-info button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.product-info button:hover {
  background-color: #0056b3;
}


/* Responsive Design */
@media (max-width: 768px) {
  .product-container {
    width: 90%; /* Adjusting width for smaller screens */
  }
}
