.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

.product-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image {
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-info {
  text-align: center;
  margin-bottom: 2rem;
}

.product-info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  color: #e44d26;
  margin-bottom: 1rem;
}

#quantity {
  width: 50px;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-to-cart {
  padding: 0.5rem 1rem;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #4cae4c;
}

.average-rating {
  font-size: 1rem;
  color: #f39c12;
  margin-bottom: 1rem;
}

.customer-feedback {
  width: 100%;
  margin-top: 2rem;
}

.customer-feedback h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.back-to-products {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 2rem;
  transition: color 0.3s;
}

.back-to-products:hover {
  color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-details-container {
    padding: 1rem;
  }

  .product-info h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .product-info {
    padding: 0 1rem;
  }

  .product-info h2,
  .description,
  .price,
  .average-rating,
  .customer-feedback h3 {
    font-size: 1rem;
  }

  #quantity {
    width: 40px;
    padding: 0.3rem;
  }

  .add-to-cart {
    padding: 0.3rem 0.6rem;
  }
}
