.product-management {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.product-management-title {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.product-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.product-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-button,
.delete-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Added margin to separate buttons */
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0056b3;
}

.cancel-edit-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-edit-button:hover {
    background-color: #c82333;
}

.product-management .delete-confirmation {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.product-management .delete-confirmation p {
    margin-bottom: 10px;
}

.product-management .delete-confirmation button:hover {
    background-color: #c82333;
}
