/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.navbar-brand .navbar-item {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-start {
    flex: 1;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.75em;
}

.navbar-item:hover {
  background-color: #444;
}

/* Search Component Styles */
.navbar-item input[type="text"] {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  margin-right: 0.5em;
}

.navbar-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.navbar-item button:hover {
  background-color: #0056b3;
}

.navbar-item.sign-in {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
}

.navbar-item.sign-in:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-menu,
  .navbar-start,
  .navbar-end {
    position: static;
    margin-top: 1em;
    justify-content: center;
  }
}
